/*
for color: rgba(0, 0, 0, 0.75);
*/
body {
    margin: 0;
    overflow: hidden;
    background: black;
}
canvas {
    display: block;
}
body {
    margin: 0;
    overflow: hidden;
}
#sidebar {
    position: fixed;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000
}
#sidebar button {
    width: 140px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}
.page {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}
.content {
    width: min(600px,90vw);
    max-height: 80vh;
    overflow-y: auto;
    background: rgb(24, 23, 23);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 24px;
    color: #eaeaea;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}
.content h2 {
    margin: 0 0 14px 0; /* The order is top,right,bottom and left*/
    font-size: 26px; 
    color: #ffffff;
}
.content h3 {
    margin: 18px 0 8px;
    font-size: 18px;
    color: #ffd36a;
}
.content p {
    margin: 0 0 10px;
    line-height: 1.5;
    font-size: 14px;
    color: #d6d6d6;
}
#closeRulebook {
    margin-top: 16px;
    padding: 10px;
    background: #2b2b2b;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
#closeRulebook:hover {
    background: #3a3a3a;
    transform: scale(1.1);
}

